@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'variables';
@import 'global';
@import './components/buttons';
@import './components/forms';
@import './components/datepicker';
